<a href="https://colab.research.google.com/github/Pontessxx/Estagio-Brauna-teste/blob/main/HENRIQUE_OLIVEIRA_Quest%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importe as bibliotecas que você irá utilizar para todas as questões

In [30]:
import pandas as pd
import numpy as np
import requests

https://github.com/Pontessxx/Estagio-Brauna-teste/blob/main/HENRIQUE_OLIVEIRA_Quest%C3%B5es.ipynb

Link do GIT

**Questão 1:**

Crie uma função genérica para retornar os números pares de um array.

In [31]:
def pares(lista):
  pares = [] # vazio para interar aqui

  for n in lista:
    if n % 2 == 0:
      pares.append(n)

  return f'Numeros pares retornados: {pares}'

In [32]:
lista_teste = np.arange(10)
pares(lista_teste)

'Numeros pares retornados: [np.int64(0), np.int64(2), np.int64(4), np.int64(6), np.int64(8)]'

**Questão 2:**

Crie o dataframe abaixo, filtre quem possui mais de 25 anos e tire a média dos salários

![image.png]()

In [33]:
df = pd.DataFrame()

df['nome'] = ['Ana', 'Bruno', 'Carlos', 'Daniela', 'Eduardo']
df['idade'] = (23, 29, 35, 27, 22)
df['salario'] = (2500, 4200, 5300, 3100, 2000)

In [34]:
display(df)

      nome  idade  salario
0      Ana     23     2500
1    Bruno     29     4200
2   Carlos     35     5300
3  Daniela     27     3100
4  Eduardo     22     2000

**Questão 3:**

Escreva um programa em Python que, dado um número n, imprima uma pirâmide numérica com n linhas.

In [35]:
def piramide():
  ''' faz uma piramide com o numero de n linhas'''
  try:
    n = int(input('Digite um numero inteiro:\t'))
  except ValueError:
    print('Digite apenas numeros pares.')

  for i in range(1, n+1):
    for linha in range(1, i+1):
      print(linha, end=' ')
    print()

In [36]:
piramide()

Digite um numero inteiro:	4
1
1 2
1 2 3
1 2 3 4

**questão 4:**

Crie uma função que eu passe um CEP e me retorne a rua, bairro e cidade.

Dica - utilize: viacep.com.br/ws/01001000/json/

In [51]:
def busca_cep(cep):
  ''' utiliza a api do viacep para retornar: RUA BAIRRO CIDADE '''
  url = f"https://viacep.com.br/ws/{cep}/json/"

  try:
        response = requests.get(url)

        dados = response.json()

        return {
            "rua": dados.get("logradouro"),
            "bairro": dados.get("bairro"),
            "cidade": dados.get("localidade")
        }

  except requests.exceptions.HTTPError as erro_http:
        print("Erro HTTP:", erro_http.response.status_code)

In [52]:
busca_cep("01001000")

{'rua': 'Praça da Sé', 'bairro': 'Sé', 'cidade': 'São Paulo'}